In [23]:
# Импортируем необходимые библиотеки

import pandas as pd
import numpy as np

from sklearn.cluster import DBSCAN
from sklearn.cluster import AgglomerativeClustering

%pylab inline

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

In [24]:
# Загрузим данные

anomaly_df = pd.read_csv('C:\SkillFactory\SF_DataScience\Current_tasks\data\_anomaly_sample.csv')
anomaly_df.head()

    timestamp  value  is_anomaly  predicted
0  1425008573     42       False  44.072500
1  1425008873     41       False  50.709390
2  1425009173     41       False  81.405120
3  1425009473     61       False  39.950367
4  1425009773     44       False  35.350160

In [25]:
# Посмотрим на данные
anomaly_df.describe()

          timestamp         value     predicted
count  1.583000e+04  15830.000000  15830.000000
mean   1.427383e+09     85.572205     71.870715
std    1.370962e+06    321.760918     92.450520
min    1.425009e+09      0.000000   -281.389070
25%    1.426196e+09     29.000000     32.919171
50%    1.427383e+09     47.000000     49.771124
75%    1.428570e+09     76.000000     75.948052
max    1.429757e+09  13479.000000   2716.127200

# Поищем аномалии, с помощью DBSCAN

In [26]:
dbscan = DBSCAN(eps=5, min_samples=10)

In [27]:
anomaly_df['prediction_dbscan_1'] = dbscan.fit_predict(anomaly_df['value'].values.reshape(-1, 1))
anomaly_df.head()

    timestamp  value  is_anomaly  predicted  prediction_dbscan_1
0  1425008573     42       False  44.072500                    0
1  1425008873     41       False  50.709390                    0
2  1425009173     41       False  81.405120                    0
3  1425009473     61       False  39.950367                    0
4  1425009773     44       False  35.350160                    0

In [28]:
# Обнаруженные аномалии
anomaly_df[anomaly_df.prediction_dbscan_1 < 0].shape[0]

226

# Поиск аномалий с помощью агломеративной кластеризации

In [13]:
agglom = AgglomerativeClustering(n_clusters=None, distance_threshold=2)

In [14]:
anomaly_df['prediction_agglom_1'] = agglom.fit_predict(anomaly_df['value'].values.reshape(-1, 1))
anomaly_df.head()

,timestamp,value,is_anomaly,predicted,prediction_dbscan_1,prediction_agglom_1
0,1425008573,42,False,44.072500,0,2
1,1425008873,41,False,50.709390,0,0
2,1425009173,41,False,81.405120,0,0
3,1425009473,61,False,39.950367,0,15
4,1425009773,44,False,35.350160,0,1

In [15]:
valcount = anomaly_df['prediction_agglom_1'].value_counts()
valcount = set(valcount[valcount == 1].index)
anomaly_df[anomaly_df.prediction_agglom_1.isin(valcount)]

,timestamp,value,is_anomaly,predicted,prediction_dbscan_1,prediction_agglom_1
162,1425057173,456,True,89.710290,-1,630
164,1425057773,477,True,126.210050,-1,629
1168,1425358973,446,True,71.947266,-1,628
1360,1425416573,1698,True,101.339670,-1,607
1361,1425416873,3228,True,148.821490,-1,479
...,...,...,...,...,...,...
15465,1429648073,1299,True,388.840450,-1,462
15466,1429648373,714,False,456.416630,-1,390
15467,1429648673,576,False,323.319300,-1,396
15468,1429648973,490,False,348.968020,16,577
15749,1429733273,838,True,74.221030,-1,310